html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

html.dark {
  color-scheme: dark;
}

code,
samp {
  font-family: 'Fira Code', Menlo, Consolas, monospace;
}

/* 针对所有可能的滚动容器 */
* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}
