@import "tailwindcss";
/* @import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css'; */

html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
